@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #f97316;
  --secondary: #f3f4f6;
  --text-color: #111827;
  --success: #10b981;
  --error: #ef4444;
}

/* Modo claro fixo, independente do tema do sistema */

body {
  color: var(--text-color);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
}
